<!DOCTYPE html>
<html>
  <head>
    <title>Facebook Login JavaScript Example</title>
    <meta charset="UTF-8">
    <style type="text/css">
      body{
        background-image: url("home1.jpg");
        background-size: auto;
        background-repeat: no-repeat;
      }
      #header{
        background-color:rgb(150, 176, 247);
        position: absolute;
        width: 100%;
        font-size: 20px;
        height: auto;
        text-align:left;
      }
      #content {
        background-color: rgb(255, 255, 255);
        position: absolute;
        top : 15%;
        left: 20%;
        width: 60%;
        height: auto;
        text-align:center;
        font-size: 20px;
        line-height: 25px;
      }
      .btn{
        border: black;
        background-color: inherit;
        padding: 28px 36px;
        font-size: 30px;
        cursor: pointer;
        display: inline-block;
      }
    </style>  
  </head>
  <body>
    <script>
      function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        if (response.status === 'connected') {
          testAPI();
          UserFriend();
        } else {
          document.getElementById('status').innerHTML = 'Please log ' +
            'into this app.';
        }
      }
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1585469851552180',
          cookie     : true,  // enable cookies to allow the server to access 
                              // the session
          xfbml      : true,  // parse social plugins on this page
          version    : 'v2.12' // use graph api version 2.8
        });
        checkLoginState();
      };

      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.12&appId=1585469851552180&autoLogAppEvents=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      // Here we run a very simple test of the Graph API after login is
      // successful.  See statusChangeCallback() for when this call is made.
      function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log('Successful login for: ' + response.name);
          document.getElementById('status').innerHTML =
            'Thanks for logging in, ' + response.name + '!';
        });
      }

      function UserFriend(){
        FB.api("/me/friends",(res)=>{
          var user_friend = res.data; //Array
          console.log(res);
          console.log(user_friend);
          document.getElementById('friendnumber').innerHTML = "You have " + res.summary.total_count + " friends!";
        });
      }

    </script>
    <style ="text/css">
      input{
        width:100%;
        height: 50px;
        font-size: 30px;
      }
      form{
        width: 50%;
        margin: auto;
      }
    </style>
    <div id = "header">
      <h1>FB Plugin Test!!</h1>
    </div>
    <div id="content"> 
      <div class="fb-login-button" 
        data-width="100" 
        data-max-rows="1" 
        data-size="large" 
        data-button-type="login_with" 
        data-show-faces="false" 
        data-auto-logout-link="false" 
        data-use-continue-as="false">
      </div>
      <br>
      <form action="/about" method="get">
        <input type="submit" value="關於"></input>
      </form>
      <form>
        Question:<br>
        <input type="text" name="question"><br>
        <input type="submit">
      </form>
      <p id="status"></p>
      <p id="friendnumber"></p>
      <p id="friends"></p>
      <p id="question"></p>
    </div>
  </body>
</html>